{% extends 'base.html.twig' %}

{% block title %}Member index{% endblock %}

{% block main %}
    <h1>Member index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.name }}</td>
                <td>{{ member.description }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_member_show', {'id': member.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('app_member_edit', {'id': member.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_member_new') }}">Create new</a>
{% endblock %}
