{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
    <h1>{{ personality.name }}</h1>

    {% dump personality %}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Card</th>
        </tr>
        </thead>
        <tbody>

        {% for card in personality.cards %}
            <tr>
                <td>{{ card.id }}</td>
                <td><a href="{{  path('app_card_show',{'id':card.id}) }}">{{ card.name }}</a> </td>
            </tr>
        {% endfor %} {# cards #}

        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('personality_index') }}">back to list</a>

{% endblock %}