{% extends 'base.html.twig' %}

{% block title %}Card index{% endblock %}

{% block main %}
    <h1>Card index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Series</th>
                <th>Species</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td>{{ card.id }}</td>
                <td>{{ card.name }}</td>
                <td>{{ card.series }}</td>
                <td>{{ card.species }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_card_show', {'id': card.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('app_card_edit', {'id': card.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
