{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
    <h1>{{ card.name }}</h1>

    {% dump card %}

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <th>Card</th>
            <th>Series</th>
            <th>Species</th>
            <th>Village</th>
            <th> Personality </th>
            <th>  </th>

        </tr>
        <tr>
            <td>{{ card.id }}</td>
            <td>{{ card.name }}</td>
            <td>{{ card.series }}</td>
            <td>{{ card.species }}</td>
            <td><a href="{{  path('village_show',{'id':card.village.id}) }}">{{ card.village }}</a> </td>
            {% for personality in card.personalities %}
                <td><a href="{{  path('personality_show',{'id':personality.id}) }}">{{ personality.name }}</a> </td>
            {% endfor %}
        </tr>



        </tbody>
    </table>

    <a href="{{ path('card_index') }}">back to list</a>

{% endblock %}