{% extends 'base.html.twig' %}

{% block title %}Gallery index{% endblock %}

{% block main %}
    <h1>Gallery index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Published</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery.id }}</td>
                <td>{{ gallery.description }}</td>
                <td>{{ gallery.published ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_gallery_show', {'id': gallery.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('app_gallery_edit', {'id': gallery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
