{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
    <h1>Village index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Village</th>
        </tr>
        </thead>
        <tbody>

        {% for village in villages %}
        <tr>
            <td>{{ village.id }}</td>
            <td><a href="{{  path('village_show',{'id':village.id}) }}">{{ village.name }}</a> </td>
            <td>
                <a href="{{ path('village_edit', {'id': village.id}) }}">edit</a>
            </td>
        </tr>
        {% endfor %} {# villages #}

        </tbody>
    </table>

    <a href="{{ path('village_new') }}">Create new</a>

{% endblock %} {# main #}