{% extends 'base.html.twig' %}

{% block title %}Village{% endblock %}

{% block main %}
    <h1>Village</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ village.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ village.name }}</td>
            </tr>
            <tr>
                <th>Cards</th>
                <td>{{ village.cards|join(', ') }}</td>
            </tr>
        </tbody>
    </table>

    <li><a href="{{ path('app_village_index') }}">back to list</a></li>

    <li> <a href="{{ path('app_village_edit', {'id': village.id}) }}">edit</a></li>

    {{ include('village/_delete_form.html.twig') }}
{% endblock %}
